@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #F5F5F5;
    height: 100vh;
    overflow-y: hidden;
}

main {
    height: 100%;
    overflow-y: auto;
}

header {
    height: 100px;
}

.container__header {
    background-color: #90E0EF; /* Color verde */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo img {
    width: 200px;
    margin-right: 10px;
    margin-left: -200px; /* Para pantallas más grandes */
}

/* Para pantallas pequeñas (móvil pequeño - 360x640) */
@media (max-width: 360px) {
    .logo img {
        width: 150px;
        margin-left: -1px; /* Ajustar según el diseño */
    }
}

/* Para portátiles medianos (1366x768) */
@media (max-width: 1366px) {
    .logo img {
        width: 180px;
        margin-left: -5px;
    }
}

/* Para pantallas grandes (1920x1080) */
@media (min-width: 1920px) {
    .logo img {
        width: 220px;
        margin-left: -5px;
    }
}

/* Para móviles medianos (375x667) */
@media (max-width: 375px) {
    .logo img {
        width: 160px;
        margin-left: -5px;
    }
}

/* Para escritorio medio (1440x900) */
@media (min-width: 1440px) {
    .logo img {
        width: 200px;
        margin-left: -18px;
    }
}

/* Para móviles grandes (720x1280) */
@media (max-width: 720px) {
    .logo img {
        width: 170px;
        margin-left: -14px;
    }
}

.menu nav ul {
    display: flex;
    
    /*@property --border-angle {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0turn;
      }/*/
}


.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
    syntax: "<angle>";
        inherits: true;
        initial-value: 0turn;
}

.menu nav ul li a:hover {
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover {
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn__header-register:hover,
.btn__register-cover:hover {
    background: #69F1A1;
    color: #000;
}

#icon_menu {
    display: none;
}

/*PORTADA - COVER*/

main {
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text__information-cover {
    width: 150%;
}

.text__information-cover h1 {
    font-size: 50px;
}

.text__information-cover p {
    font-size: 18px;
    margin-top: 40px;
}

.bienvenido {
    font-weight: 500; /* Negrita fina */
}

.agriges {
    color: #50c958; /* Verde similar al de la imagen */
    font-weight: 800; /* Negrita fuerte */
}

.image-section img {
    width: 100%;
    height: auto;
    max-width: 900px; /* Ajustado según tu diseño */
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 200px; /* Añadido margen superior para bajar la imagen */
}

@media (max-width: 1024px) {
    .container__header,
    main {
        padding: 20px;
    }

    #icon_menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register {
        display: none;
    }

    .menu {
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul {
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li {
        padding: 10px 40px;
    }

    .mostrar_menu {
        height: 235px;
    }

    .text__information-cover h1 {
        font-size: 40px;
    }

    .text__information-cover p {
        font-size: 16px;
    }
}
